// .globalcount{
//     // background-color: #950f25;
//     color: #ffff;
//     font-size: 32px;
//     letter-spacing: 2px;
//     font-weight: bold;
//     justify-content: center;
    
//     // padding: 3%;
// }
.globalcontent{
    color: #ffff;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0 0 5% 2%;
    
    // font-weight: bold;
}