.joincomm{
    font-weight: bold; 
    color: #ffff;
    // font-size: 38px;
    margin-top: 3%;
}
.newsfont{
    letter-spacing: 3px;
    font-size: 18px;
    color: #ffff;
    margin-top: 3%;
}
.footerbtn{
    background-color: #950f25 !important;
    color: #FFFF;
    font-size: 15px;
    padding: 1%;
    // padding-right: 2%;
    // padding-left: 2%;
    margin-top: 3%;
    letter-spacing: 2px;
}
.iconstyl{
color: #000;
font-size: 18px;
}
// button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
//     cursor: pointer;
//     margin-right: 20px;
//     border: none;
// }
.termcondition{
    color: #ffff;
    letter-spacing: 2px;
    // margin-top: 3%;
    // margin-bottom: 3%;
    // margin-right: 5%;
}
.marginterms{
    margin-top: 3%;
    margin-bottom: 3%;
}
.updatessty{
    // font-size: 18px;
    letter-spacing: 3px;
    color: #FFFF;
}
.socialicons{
    border-radius: 50%; 
    border: none;
    margin: 1%;
}