.card{
    background-color: #83071c!important;
    color: #ffff;
    // font-size: 17px;
    // letter-spacing: 2px;
    padding: 28% 2% 35% 5%;
    // box-shadow:-1px -1px 12px 12px  #0e0e0e;
    height: 100%;
    border-radius: .7rem;
}
.img1{
    // height: 100%;
    width: 50%;
    border-radius: 32%;
    justify-content: center;
}
.tiersmargin{
    margin-top: 7%;
    margin-bottom: 6%;
}