.cardstyle{
    background-color: #950f25 !important;
    color: #FFFF;
    border-radius: .5rem;
    box-shadow:-1px -1px 12px 12px  #0e0e0e;
   
}
.cardpadding{
    height: 100%;
    padding-right: 1.5rem !important;
}
.advisor{
    font-size: 24px;
     color: #FFFF;
     background-color: #950f25 !important;
     letter-spacing: 2px;
     margin-bottom: 5%;
     margin-top: 3%;
    //  font-weight: bold;
}
.usericon{
    font-size: 28px;
}
.fairumservice{
        background-color: #950f25 !important;
        color: #FFFF;
        font-size: 17px;
        margin-bottom: 9%;
        letter-spacing: 2px
}
.fairumresearch{
    background-color: #950f25 !important;
        color: #FFFF;
        font-size: 17px;
        // padding: 15px;
        letter-spacing: 2px;
        margin-bottom: 4%;
}
.pagemargin{
    margin-bottom: 7%;
}
