
html {
    scroll-behavior: smooth;
  }
  .missionfont{
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 2px;
}
.content{
    color: #ffff;
    font-size: 15px;
    letter-spacing: 2px;
}

.searchadvisor{
    margin-top: 11%;
    }