<div style="background-image: url(../../assets/images/network.jpg); height: 100vh;overflow-x: hidden;">

    <div class="fixed-top">
        <app-header></app-header>
    </div>
<div>
    <div>
        <app-homeslider></app-homeslider>
    
    <div>
        <app-homegrowingnetwork></app-homegrowingnetwork>
    </div>
    <div>
        <app-ourmission></app-ourmission>
    </div>
    <div>
        <app-tokenheader></app-tokenheader>
    </div>
    <div>
        <app-tiersheader></app-tiersheader>
    </div>
    <div>
        <app-blogheader></app-blogheader>
    </div>
    <div>
        <app-portfoliohead></app-portfoliohead>
    </div>
    <div>
        <app-partnerhead></app-partnerhead>
    </div>
    <div>
        <app-faqhead></app-faqhead>
    </div>    
    <div>
        <app-footer></app-footer>
    </div>
</div>
</div>